@CHARSET "ISO-8859-1"; 


#outer {
	width: 100%;
	text-align: center;
}

#inner {
	display: inline-block;
}

#coin-icon{
	
	width: 100px;
	length: 100px;
	
}

#small-coin-icon{

	width:35px;
	height:35px;
}